/* Login Page CSS file */

.login-main-container{
    display: flex;
    flex-direction: row;
    height:100vh; 
    font-family: 'Archivo', sans-serif;
}

.login-left{
    background-color: white;
    height:100%;
    width:43%
}

.login-right{
    background-color: #005E81;
    height:100%;
    width: 57%
}
#rightpic{
   height:100%;
   width:100%;
   object-fit:contain;
}

.login-header{
    color:#008D85
}

.login-header h1 {
    margin-top:0.5rem;
    margin-bottom:0;
}
.login-header h2{
    margin:0.5rem;
    font-weight: normal;
}

#uplogo{
    height:72px;
}