.container {
    background-color: green;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 16rem;

}

.textName {

    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    /* font-size: 2rem; */
    /* line-height: 16px; */
    /* text-align: center; */

    color: #086189;
}

.semester {
    font-family: Archivo;
    font-style: normal;
    font-weight: normal;
    /* font-size: 1.5rem; */
    /*line-height: 16px; */
    /* or 53% */

    color: rgba(0, 141, 133, 0.56);
}

.schoolyear {

    font-family: Archivo;
    font-style: normal;
    font-weight: normal;
    /* font-size: 27px;
    line-height: 16px; */
    /* or 53% */

    color: rgba(0, 141, 133, 0.56);
}

.name {
    font-family: "Archivo";
    font-size: 18px;
    font-weight: 400;
    color: #008D85;
    align-self: stretch;
    display: flex;
    align-items: center;
    margin-bottom: 3px;
}

.sidebar-text{
    display:flex;
    flex-direction: column;
    text-align: right;
}

.sidebar-text h2{
    margin-bottom:0.5rem;
}

.sidebar-main{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.486);
}

