.task-list{
    background-color:rgba(255, 255, 255, 0.39);
    min-height:100%;
    min-width: 40%;
    /* max-height:100%; */
    /* margin-top: 3rem; */
    margin:1rem;
    padding:1rem;
    border-radius: 1rem;
    overflow: hidden;
    overflow-y: auto;
}

.task-list a{
    text-decoration: none;
    color: black;
}

#major-course-eval, #ge-eval {
    font-size: 1rem;
    font-family: "Archivo", sans-serif;
    color:#008D85;
    padding-top:1rem;
    padding-bottom:1rem;
    text-decoration: bold;
}

.task-rate, .task-rate-done{
    display:flex;
    flex-direction: row;
    background-color: white;
    text-align: left;
    padding:0.7rem;
    border-radius:1rem;
    box-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.2);
    cursor:pointer;
    margin-bottom: 0.8rem;
}

.task-rate-done{
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: none;
    text-decoration: line-through;
    box-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.123);
    cursor:default;
    color: #c8c8c8
    
}

.task-rate:active{
    transform: translateY(1px);
    box-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.2);
}

.check-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.task-text h1, .task-text h2{
    font-size: 1rem;
    margin:0;
    padding-left:1rem;
}