@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@700&display=swap');


.modal-container    {
    position: fixed;
    background-color: white;
    border-color: black;
    width: 30%;
    height: 200px;
    font-family:  'Open Sans', sans-serif;
    left: calc(50% - 300px);
    top: 30%;
    right: 0;
    bottom: 0; 
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
    z-index: 100;
}


.modal-content {
    padding: 5%;
    border: none;
    text-align: center;
}

.modal-content-missing {
    padding: 5%;
    border: none;
    text-align: center;
}

.choices-content {
    padding-top: 5%;
    text-align: center;
    font-family:  'Open Sans', sans-serif;
}

.choices-content button {
    border: none;
    margin-right: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 20px;
    width: 200px;
    color: white;
    background-color: #008D85;
}

.choices-content button:hover {
    cursor: pointer;
    background-color: #025854;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: white;
}

.modalBtn {
    background-color: #008D85;
    padding: 4%;
    margin-left: 6%;
    border-radius: 30px;
}

.modalBtn:hover {
    cursor: pointer;
    background-color: #015854;
}
